<h1>Wut, Burgers</h1>

<div class="noteaten">
{{#each burgers}}
  {{#unless devoured}}
    <hr>
    <p>{{id}}: {{burger_name}}</p>
    <button type="submit" class="eatburger" data-id="{{id}}">EAT THAT BURGER BEAST</button>
  {{/unless}}
{{/each}}
<hr>
</div>

<div class="eaten">
{{#each burgers}}
  {{#if devoured}}
    <hr>
    <p>{{id}}: {{burger_name}}</p>
  {{/if}}
{{/each}}
<hr>
</div>


<form class="create-form">

  <div class="form-group">
    <label for="auth">Burger:</label>
    <input type="text" id="auth" name="burger">
  </div>

  <button type="submit" id="addburger">Submit Burger</button>
</form>
